@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,400;0,900;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
    background-color: #011627; 
}

.genre {
    color: #EEF1EF;   
    font-family: "inter"; 
    font-size: 55px; 
    text-align: center; 
    font-style: normal; 
    position: absolute; 
}