.containerx {
    position: relative;
}

.imagex {
    display: block;
    width: 100%;
    height: auto;
}

.overlayx {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    display: block;
}

.containerx:hover .overlayx {
    width: 100%;
    left: 0;
}

.textx {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    #hidde-form{
        display: none;
    }
  }



  body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
  }


  .alert-banner {
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
