/* ./resources/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .inset-center {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}
